// default settings
$legacy-support-for-ie7: true;
$legacy-support-for-ie8: true;
$experimental-support-for-microsoft: true;
$experimental-support-for-pie: false;
$experimental-support-for-svg: true;

// colors settings

$white: #fff;
$black: #000;
$steal-blue: #5c7b98;
$blue: #00b9fe;
$grey: #dae1eb;
$dark: #151515;
$blue-violet: #613993;
$error: #FF0000;

// fonts settings

$font-sizes: (
    font-size-12: 12px,
    font-size-14: 14px,
    font-size-15: 15px,
    font-size-16: 16px,
    font-size-17: 17px,
    font-size-18: 18px,
    font-size-25: 25px,
    font-size-28: 28px
) !global;

$elektra-fonts-names:(
    'elektra-light-pro'         : '300',
    'elektra-medium-pro'        : '500',
    'elektra-light-pro-bold'    : '700',
    'elektra-medium-pro-italic' : '500'
) !global;

$elektra-fonts-fallbacks:(
    'elektra-light-pro'         : 'serif',
    'elektra-medium-pro'        : 'serif',
    'elektra-light-pro-bold'    : 'serif',
    'elektra-medium-pro-italic' : 'serif'
) !global;

$elektra-font-path: 'elektra';

// sprites settings
$ui-sprite: sprite-map('ui/*.png', $layout: 'horizontal', $spacing: 10px);

// media-queries settings

