// default settings

// colors settings

$white: #fff;
$black: #000;
$steal-blue: #5c7b98;
$blue: #00b9fe;
$grey: #dae1eb;
$dark: #151515;
$blue-violet: #613993;

// fonts settings

$font-sizes: (
    font-size-12: 12px,
    font-size-14: 14px,
    font-size-15: 15px,
    font-size-16: 16px,
    font-size-17: 17px,
    font-size-18: 18px,
    font-size-25: 25px,
    font-size-28: 28px
);

// TODO see sass object variables
$elektra-fonts-names: 'elektra-light-pro', 'elektra-light-pro-bold', 'elektra-medium-pro', 'elektra-medium-pro-italic';
$elektra-font-path: 'elektra';

// sprites settings
$ui-sprite: sprite-map('ui/*.png', $layout: 'horizontal', $spacing: 10px);

// media-queries settings

