// default settings

// colors settings
$white: #fff;
$black: #000;


// font-sizes settings
$fira-fonts-names: 'firasans-book', 'firasans-medium', 'firasans-light', 'firasans-lightitalic', 'firasans-regular';
$fira-font-path: 'fira';

// sprites settings

// media-queries settings

