footer.footer
    div.footer-inner-wrap.relative
        div#scroll-top-btn.display-table.to-center-inline.font-size-18.scroll-up-arrow
            span.vertical-align-middle.display-table-cell Наверх
        div.display-table.parent-size.fixed-table-layout
            div.display-table-cell.vertical-align-middle
                a(href=''): img(src='../img/separated/logo-footer-139x39.png', alt='apple-shop-logo')
            div.display-table-cell.vertical-align-middle.footer-navigation-list.font-size-15
                div.footer-navigation-list-item
                    h3.footer-navigation-list-item-title О магазине
                    ul
                        li: a.footer-navigation-list-item-link(href="#") О нас
                        li: a.footer-navigation-list-item-link(href="#") Наши цены
                        li: a.footer-navigation-list-item-link(href="#") Наши скидки
                        li: a.footer-navigation-list-item-link(href="#") Акции
                div.footer-navigation-list-item
                    h3.footer-navigation-list-item-title Каталог
                    ul
                        li: a.footer-navigation-list-item-link(href="#") Смартфоны
                        li: a.footer-navigation-list-item-link(href="#") Планшеты
                        li: a.footer-navigation-list-item-link(href="#") Компьютеры
                        li: a.footer-navigation-list-item-link(href="#") Аксессуары
                div.footer-navigation-list-item
                    h3.footer-navigation-list-item-title Контакты
                    ul
                        li: a.footer-navigation-list-item-link(href="#") Телефоны
                        li: a.footer-navigation-list-item-link(href="#") Адреса
                        li: a.footer-navigation-list-item-link(href="#") Карта проезда
                        li: a.footer-navigation-list-item-link(href="#") Обратная связь
            div.display-table-cell.vertical-align-middle
                ul.store-wrapper.to-right-inline
                    li.inline-icon.app-store-icon
                        a.display-block.parent-size(href="http://store.apple.com"): span.hide http://store.apple.com
                    li.inline-icon.google-play-icon
                        a.display-block.parent-size(href="https://play.google.com"): span.hide https://play.google.com
                ul.to-center-inline.social-links-block
                    li.inline-icon.social-icon.vk-social-icon: a.display-block.parent-size(href="https://vk.com"): span.hide https://vk.com
                    li.inline-icon.social-icon.fb-social-icon: a.display-blockcf.parent-size(href="https://facebook.com"): span.hide https://facebook.com
                    li.inline-icon.social-icon.tw-social-icon: a.display-block.parent-size(href="https://twitter.com"): span.hide https://twitter.com
