doctype html
- var smallGalleryItem = 9
- var productGalleryItem1 = 7
- var productGalleryItem2 = 7
- var galleryImgs = ['product-[1]-85x61', 'product-[2]-58x86', 'product-[3]-73x67', 'product-[4]-67x68']
html(lang="en")
    head
        title= pageTitle
        script(type='text/javascript')
        link(type='text/css', rel="stylesheet", href="../css/ui/default.css")
        link(type='text/css', rel="stylesheet", href="../css/fonts/elektra.css")

    body
        div.main-wrapper

            div.container.cf
                aside.left-side-bar
                    div
                        img.vertical-align-middle(src='../img/separated/logo-199x57.png', alt='logo')
                    article.order-form
                        div Заказать звонок
                        form#call-order-form
                            div
                                label(for='user-name')
                                input(id='user-name', name='userName' type='text', )
                            div
                                label(for='user-phone-number')
                                input(id='user-phone-number', name='userPhoneNumber', type='text')
                            input
                            textarea
                            input(type='submit', value='Отправить')
                            input(type='reset', value='Очистить')
                    article.gallery
                        ul.gallery-list
                            while smallGalleryItem-- > 0
                                li.gallery-list-item
                                    img.vertical-align-middle(src='../img/separated/gallery-icon[#{smallGalleryItem}]-70x70.png', alt='gallery-item')
                    article.contacts.display-table-cell.vertical-align-middle
                        div
                            span.inline-icon.vertical-align-middle.location-icon
                            span.location-txt г. Москва, ул. Новая 246, офис 214.
                        div
                            span.inline-icon.vertical-align-middle.phone-icon
                            span.location-txt +7(921) 322-12-32

                section.content
                    div.carousel-container.relative
                        div.img-container
                            img.vertical-align-middle(src="../img/separated/carousel-740x300.jpg")
                        div.inline-icon.nav-arrow-left Пред.
                        div.inline-icon.nav-arrow-right След.
                        div.img-description-block
                            div.img-description-block-title.font-size-18 iMac за пол цены
                            div.img-description-block-txt.font-size-14 Принеси свой старый Mac и получи скидку на новый!
                    section.main-gallery
                        article
                            header.main-gallery-header.display-table.parent-width.fixed-table-layout
                                div.display-table-cell.vertical-align-middle
                                    div.header-line
                                div.display-table-cell.vertical-align-middle.gallery-category-title.font-size-25 Популярные товары
                                div.display-table-cell.vertical-align-middle
                                    div.header-line
                            ul.main-gallery-list.cf
                                while productGalleryItem1-- > 0
                                    li.main-gallery-list-item
                                        div.display-table.parent-width.fixed-table-layout.product-view-table
                                            div.display-table-cell.vertical-align-middle.product-view-img
                                                img(src='../img/separated/product-[#{productGalleryItem1}].jpg')
                                            div.display-table-cell.vertical-align-middle.product-view-description.font-size-15
                                                a(href='#') Apple Thunderb Display 27''
                                        table.product-description-table.parent-width.fixed-table-layout.font-size-14
                                            tr
                                                td.parent-half-width Артикул
                                                td.parent-half-width 42787825
                                            tr
                                                td.parent-half-width Опция
                                                td.parent-half-width включена
                                            tr
                                                td.parent-half-width Цвет
                                                td.parent-half-width серебристый
                                            tr
                                                td.parent-half-width Размер
                                                td.parent-half-width 1280*1245*90
                                            tr
                                                td.parent-half-width Вес
                                                td.parent-half-width 9 кг
                        article
                            header.font-size-25: span Популярные товары
                            ul.main-gallery-list.cf
                                while productGalleryItem2-- > 0
                                    li.main-gallery-list-item
                                        table.product-view-table
                                            tr
                                                td: img(src='../img/separated/product-[#{productGalleryItem2}].jpg')
                                                td Apple Thunderb Display 27''
                                        table.product-description-table
                                            tr
                                                td Артикул
                                                td 42787825
                                            tr
                                                td Опция
                                                td включена
                                            tr
                                                td Цвет
                                                td серебристый
                                            tr
                                                td Размер
                                                td 1280*1245*90
                                            tr
                                                td Вес
                                                td 9 кг

            footer.footer
                div.display-table.parent-size.fixed-table-layout.footer-inner-wrap
                    div.display-table-cell.vertical-align-middle
                        img(src='../img/separated/logo-footer-139x39.png')
                    div.display-table-cell.vertical-align-middle.footer-navigation-list.font-size-15
                            div.footer-navigation-list-item
                                div.footer-navigation-list-item-title О магазине
                                ul
                                    li: a.footer-navigation-list-item-link(href="#") О нас
                                    li: a.footer-navigation-list-item-link(href="#") Наши цены
                                    li: a.footer-navigation-list-item-link(href="#") Наши скидки
                                    li: a.footer-navigation-list-item-link(href="#") Акции
                            div.footer-navigation-list-item
                                div.footer-navigation-list-item-title Каталог
                                ul
                                    li: a.footer-navigation-list-item-link(href="#") Смартфоны
                                    li: a.footer-navigation-list-item-link(href="#") Планшеты
                                    li: a.footer-navigation-list-item-link(href="#") Компьютеры
                                    li: a.footer-navigation-list-item-link(href="#") Аксессуары
                            div.footer-navigation-list-item
                                div.footer-navigation-list-item-title Контакты
                                ul
                                    li: a.footer-navigation-list-item-link(href="#") Телефоны
                                    li: a.footer-navigation-list-item-link(href="#") Адреса
                                    li: a.footer-navigation-list-item-link(href="#") Карта проезда
                                    li: a.footer-navigation-list-item-link(href="#") Обратная связь
                    div.display-table-cell.vertical-align-middle.social-links-block
                        div.to-right-inline
                            span.inline-icon.app-store-icon
                            span.inline-icon.google-play-icon
                        div.to-center-inline
                            span.inline-icon.vk-social-icon
                            span.inline-icon.fb-social-icon
                            span.inline-icon.tw-social-icon