@import "base";

html, body {
    height: 100%;
}

.upper-case {
    text-transform: uppercase;
}
.hide {
    display: none;
}
.relative {
    position: relative;
}
.left {
    float: left;
}
.right {
    float: right;
}

.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

/* ======================================= */

.inline-icon {
    display: inline-block;
    background-image: $ui-sprite;
    background-repeat: no-repeat;
}

@each $font-size-name, $font-size-value  in $font-sizes {
    .#{$font-size-name} {
        font-size: $font-size-value;
    }
}

/* ======================================= */
.main-wrapper {
    font-family: 'elektra-light-pro';
}
.container {
    width: 1000px;
    margin: 38px auto;
}

.left-side-bar {
    width: 230px;
    margin-right: 30px;
    float: left;

    .header-logo-container {
        height: 82px;
    }

    .order-form {
        background: #f4f6f9;
        padding: 12px;
        color: $steal-blue;
        margin-bottom: 15px;
    }
    .order-form-title {
        text-align: center;
        font-family: 'elektra-light-pro-bold';
        margin-bottom: 20px;
    }
    .call-order-form-fieldset {
        margin-bottom: 12px;
    }
    .call-order-form-label {
        line-height: 28px;
    }
    .call-order-form-input,
    .call-order-form-textarea,
    .call-order-form-select {
        border: 1px solid $grey;
        @include box-sizing(border-box);
    }
    .call-order-form-input {
        height: 26px;
        width: 133px;
        text-indent: 7px;
    }
    .call-order-form-select-wrap {
        line-height: 0;
    }
    .call-order-form-select {
        width: 51px;
        height: 26px;
        &:not(:first-child) {
            margin-left: 9px;
        }
    }
    .call-order-form-select-label {
        width: 26px;
        height: 24px;
        position: absolute;
        right: 1px;
        top: 1px;
        z-index: 1;
        cursor: pointer;
        background:  inline-image('separated/select-dropdown-btn-11x8.png') 50% 50% no-repeat $blue;
    }

    .call-order-form-textarea {
        width: 100%;
        height: 69px;
        padding: 9px;
    }
    .order-form-submit-btn,
    .order-form-reset-btn {
        width: 90px;
        height: 35px;
        color: $white;
        padding: 0 5px;
        font-family: 'elektra-light-pro-bold';
        cursor: pointer;
        @include box-sizing(border-box);
    }
    .order-form-submit-btn {
        background: $blue;
    }
    .order-form-reset-btn {
        background: $grey;
    }

    .gallery-list {
        margin-left: -10px;
        margin-bottom: 30px;
        overflow: hidden;
    }
    .gallery-list-item {
        display: inline-block;
        float: left;
        margin: 0 0 10px 10px;
        vertical-align: top;
    }

    .contacts {
        text-align: center;
        color: $steal-blue;
        padding: 15px;
        line-height: 20px;
        background: #f4f6f9;
    }
    .contact-phone {
        text-decoration: none;
        @include link-colors($steal-blue, $steal-blue, $steal-blue, $steal-blue, $steal-blue);
    }
    .location-icon,
    .phone-icon {
        margin-right: 4px;
    }
    .location-icon {
        @include sprite($ui-sprite, 'location-label-16x22', true);
    }
    .phone-icon {
        @include sprite($ui-sprite, 'phone-icon-16x21', true);
    }

}

.content {
    width: 740px;
    float: left;

    .carousel-container {
        width: 740px;
        height: 300px;
        margin-bottom: 24px;
    }
    .nav-arrow-left,
    .nav-arrow-right {
        width: 69px;
        height: 34px;
        color: $steal-blue;
        top: 50%;
        margin-top: -46px;
        position: absolute;
        font-family: 'elektra-light-pro-bold';
        &:hover {
            cursor: pointer;
            color: $white;
        }
    }
    .nav-arrow-left {
        left: 0;
        margin-left: 10px;
        @include sprite($ui-sprite, 'nav-arrow-left-69x34');
    }
    .nav-arrow-right {
        right: 0;
        margin-right: 10px;
        @include sprite($ui-sprite, 'nav-arrow-right-69x34');
    }
    .nav-arrow-txt {
        display: table-cell;
        padding: 0 12px;
    }
    .img-description-block {
        width: 100%;
        color: $white;
        background: rgba(0,0,0, .55);
        position: absolute;
        padding: 16px 24px;
        @include box-sizing(border-box);
        bottom: 0;
    }
    .img-description-block-title {
        color: $blue;
        text-decoration: underline;
    }
    .img-description-block-txt {
        color: $white;
        line-height: 23px;
    }

    .main-gallery-list {
        margin-left: -25px;
    }
    .main-gallery-list-item {
        min-height: 234px;
        padding: 10px;
        margin-left: 25px;
        margin-bottom: 25px;
        border: 1px solid #dae1eb;
        @include box-sizing(border-box);
        width: 30.06108%;
        display: inline-block;
        float: left;
        &:hover {
            @include box-shadow(0 1px 8px 0 rgba(0,0,0, .15));
            cursor: pointer;
        }
    }

    .main-gallery-header {
        height: 48px;
        text-align: center;
    }
    .gallery-category-title {
        width: 280px;
        color: $steal-blue;
        font-family: 'elektra-light-pro-bold';
    }
    .header-line {
        height: 1px;
        background: $steal-blue;
    }

    .product-view-table {
        height: 120px;
    }
    .product-view-img {
        width: 80px;
    }
    .product-view-description {
        padding-left: 10px;
    }
    .product-description-table {
        color: $steal-blue;
        line-height: 20px;
    }
}

.footer {
    height: 238px;
    background:  inline-image('separated/footer-bg-99x99.png');
    color: $white;

    .footer-inner-wrap {
        width: 1000px;
        margin: 0 auto;
    }

    .footer-navigation-list {
        width: 480px;
    }
    .footer-navigation-list-item {
        width: (480px/3);
        line-height: 25px;
        color: $white;
        float: left;
    }
    .footer-navigation-list-item-title {
        font-family: 'elektra-light-pro-bold';
        margin-bottom: 2px;
    }
    .footer-navigation-list-item-link {
        text-decoration: underline;
        @include link-colors($white, $white, $white, $white, $white)
    }

    .store-wrapper {
        margin-bottom: 24px;
    }
    .social-links-block {
        margin-left: 20px;
    }
    .social-icon {
        &:not(:first-child) {
            margin-left: 8px;
        }
    }
    .vk-social-icon {
        @include sprite($ui-sprite, 'vk-icon-45x43', true);
    }
    .fb-social-icon {
        @include sprite($ui-sprite, 'fb-icon-45x43', true);
    }
    .tw-social-icon {
        @include sprite($ui-sprite, 'tw-icon-45x43', true);
    }
    .app-store-icon {
        margin-right: 5px;
        @include sprite($ui-sprite, 'app-store-90x32', true);
    }
    .google-play-icon {
        @include sprite($ui-sprite, 'google-play-90x32', true);
    }
}

.error-wrapper {
    color: $error;
    text-align: right;
    cursor: pointer;
}