@import "base";
@import "reset";
@import "table-scaffolding";

html, body {
    height: 100%;
}

.upper-case {
    text-transform: uppercase;
}
.hide {
    display: none;
}
.relative {
    position: relative;
}
.left {
    float: left;
}
.right {
    float: right;
}

.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

/* ======================================= */

.inline-icon {
    display: inline-block;
    background-image: $ui-sprite;
    background-repeat: no-repeat;
}

@each $font-size-name, $font-size-value  in $font-sizes {
    .#{$font-size-name} {
        font-size: $font-size-value;
    }
}
